/* ==========================================================
   LISTA DE TAREAS
   ========================================================== */

.task-scroll {
  max-height: 339px;
  overflow-y: auto;
  overflow-x: hidden;
}
